@font-face {
    font-family: 'Google Sans';
    src: url('../webfonts/GoogleSans-Regular.woff2') format('woff2'), url('../webfonts/GoogleSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: 'Google Sans';
}